.carousel {
  width: 100%;        /* O el tamaño que decidas */
  height: 300px;      /* Ajustalo a tu diseño */
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%; /* redonditos */
    z-index: 10;
    transition: background 0.3s ease;
}

.btn-prev:hover,
.btn-next:hover {
      padding: 12px; /* mismo valor = botón redondo */
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
}

/* Botón izquierda */
.btn-prev {
    left: 10px;
}

/* Botón derecha */
.btn-next {
    right: 10px;
}
