.carousel {
  width: 1100px;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
    transition: transform 0.15s, box-shadow 0.15s;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(194, 194, 194, 0.5);
}

/* Flechas PNG */
.btn-prev {
    left: 10px;
    background-image: url("../assets/img/flecha-izquierda.png");
}

.btn-next {
    right: 10px;
    background-image: url("../assets/img/flecha-izquierda.png");
    transform: translateY(-50%) rotate(180deg);
}

.btn-prev::before,
.btn-prev::after,
.btn-next::before,
.btn-next::after {
    content: none !important;
    display: none !important;
}

.btn-prev:hover,
.btn-next:hover {
    box-shadow: 0 0 10px rgba(255,255,255,0.7);
}

/* QUERIES */

/* 1100px */

@media (max-width: 1150px) {
  .carousel{
    width: 1000px;
  }
}

/* 1050px */

@media (max-width: 1050px) {
  .carousel{
    width: 950px;
  }
}

/* 990px */

@media (max-width: 990px) {
  .carousel{
    width: 900px;
  }
}

/* 920px */

@media (max-width: 920px) {
  .carousel{
    width: 850px;
  }
  .btn-prev,
  .btn-next {
  width: 38px;
  height: 38px;
  }
}

/* 865px */

@media (max-width: 865px) {
  .carousel{
    width: 800px;
  }
  .btn-prev,
  .btn-next {
  width: 38px;
  height: 38px;
  }
}

/* 815px */

@media (max-width: 815px) {
  .carousel{
    width: 750px;
  }
  .btn-prev,
  .btn-next {
  width: 35px;
  height: 35px;
  }
}

/* 770px */

@media (max-width: 770px) {
  .carousel{
    width: 680px;
  }
  .btn-prev,
  .btn-next {
  width: 30px;
  height: 30px;
  }
}

/* 700px */

@media (max-width: 700px) {
  .carousel{
    width: 600px;
  }
  .btn-prev,
  .btn-next {
  width: 30px;
  height: 30px;
  }
}

/* 615px */

@media (max-width: 615px) {
  .carousel{
    width: 550px;
  }
  .btn-prev,
  .btn-next {
  width: 28px;
  height: 28px;
  }
}

/* 575px */

@media (max-width: 575px) {
  .carousel{
    width: 480px;
  }
  .btn-prev,
  .btn-next {
  width: 28px;
  height: 28px;
  }
}

/* 510px */

@media (max-width: 510px) {
  .carousel{
    width: 400px;
  }
  .btn-prev,
  .btn-next {
  width: 25px;
  height: 25px;
  }
}

/* 410px */

@media (max-width: 410px) {
  .carousel{
    width: 350px;
  }
  .btn-prev,
  .btn-next {
  width: 25px;
  height: 25px;
  }
}

/* 360px */

@media (max-width: 360px) {
  .carousel{
    width: 300px;
  }
  .btn-prev,
  .btn-next {
  width: 25px;
  height: 25px;
  }
}