@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body{
    background-color: rgb(243, 243, 243);
}
a{
    text-decoration: none;
    color: black;
}

.header{
    background-color: #4A90E2 ;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 150px;
}

.imgLogo{
    width:  150px;
    height: 150px;
}

.navBar{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1.875rem;
}

.buscador{
    width: 100%;
}
.buscadorInput{
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
    margin-bottom: 30px;
}

ul li a {
    color: black;
    text-decoration: none;
}

.aNavbar{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    text-decoration: none;    
    color: black;
}

.liNavBar {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 0.5em 1.5em;
    color: #d3f7ff;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.liNavBar::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: 0.5s ease;
}

.liNavBar:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
}

.liNavBar:hover::before {
    width: 100%;
}

.liNavBar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #6ba6ea;
    transition: 0.4s ease;
    z-index: -1;
}

.liNavBar:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.divImgNavIcon{
    width: 10%;
    display: flex;
    gap: 1.25rem;
}

.imgNavIcon{
    width: 2rem;
    height: 2rem;
    
}

/* PRODUCTOS INDEX */

.h2Index{
    text-align: center;
    margin: 10px 0 10px 0;
}

.divContenedorPrincipal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.sectionPrincipal{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 5px;
    flex-wrap: wrap;
}

.divContnedor{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 1px 3px rgb(203, 203, 203);
    margin: 5px;
}

.divContnedor:hover{
    box-shadow: 5px 2px 3px rgb(163, 163, 163);
    z-index: auto;
}

.sectionPrincipal a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.imgProducto{
    width: 160px;
    object-fit: contain;
    border-radius: 10px;
}

.divProductoInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.marca{
    font-size: 18px;
    margin: 0;
    margin-left: 7px;
    color: gray;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;   
}

.pDesc, .pPrecioXKg{
    margin: 0 4px 0 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 3;    
}


.boton{
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: rgb(103, 161, 232);
    padding: 5px;
    margin-bottom: 10px;
}

.boton:hover{
    background: rgb(29, 129, 252);
    cursor: pointer;
}




/* SECTION CUPON */

.sectionCupon{
    margin-top: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
        background-color: rgb(64, 75, 177);
}

/* primer p a la izquierda */
.divCupon{
    width: 17%;
    font-weight: bold;
}

.pCupon{
    font-size: 24px;
    color: #f4f2f2;
}

/* input nombre */


.NombreMascotaEmailInput{
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out .5s;
}



#bottone5 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

#bottone5:hover, #bottone5:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

#bottone5:hover {
    transform: translateY(-1px);
}

#bottone5:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* FOOTER */
footer{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    gap: .625rem;
    background-color: rgb(209, 209, 209);
}

footer a{
    text-decoration: none;
    color: black;
}

.divContenedorFooter{
    width: clamp(25rem, 100%, 100%);
    display: flex;
    gap: 20px;
}
.divInformacion{
    width: 50%;
    height: auto;
}

.pInformacion{
    margin: 10px 0 5px 10px;
    font-size: 26px;
    font-weight: bold;

}

.footerAnclas{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anclasDelFooter, .pDataCopy, .pDataDefensa{
    margin-left: 15px;
    font-size: 18px;
}

/* FOOTER CON IMG */

/* truck */
.divEnviosGratisFooter{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgFooter{
    width: 64px;
    object-fit: contain;
}

.pEnviosFooter{
    width: auto;
    font-size: 20px;
    font-weight: bold;
}

/* box */

.divRetirarFooter{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pRetiroFooter{
    width: auto;
    font-size: 18px;
    font-weight: bold;
}

/* payments */

.divPayments{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pPagosFooter{
    width: auto;
    font-size: 18px;
    font-weight: bold;
}


/* producto del index */


/* solo img */

.divContenedorProducto{
    width: auto;
    height: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.25rem;
}

.divCardProducto{
    width: 100%;
    display: flex;
}

.imgCardProducto{
    width: auto;
    height: 455px;
    margin: 150px 100px 150px 250px;
    object-fit: contain;
}

.imgProductoElegido{
    width: 450px;
    border-radius: 15px;
}
/* ------------------------------------------------------------------------ */

/* d2 */

.divPProducto{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 1px 3px rgb(203, 203, 203);
}

.divProductoTexto{
    display: flex;
    flex-direction: column;
}

.marcaProducto{
    margin: 10px 0 15px 15px;
    font-size: 1rem;
    color: gray;
}

.pTextoProducto, .pPrecioProducto, .pPrecioXKgProducto{
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.pTextoProducto ,.pPrecioProducto{
    font-size: 1.5rem;
}

.pPrecioProducto{
    margin-top: 50px;
    color: #4A90E2;
    font-weight: bold;
}

/* ----------------------------------- */

.d3{
    width: 350px;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    gap: .625rem;
    padding: 10px;

}

.buttonD3{
    all: unset;
    text-align: center;
    width: 150px;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    border: 2px solid;
    border-color: rgb(0, 157, 255);
    background-color: rgb(230, 249, 249);
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.buttonD3:hover{
    background: #d3f7ff;

}

.buttonD3:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.d4{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.pCantidadD4{
    margin-top: 20px;
    margin-left: 40px;
}

.divContenedorbuttonsCantidad{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cantidadProducto{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #e9e8e8;
}

.imgCantidad{
    width: 16px;
    object-fit: contain;
}

.pCantidad{
    font-size: 18px;
}

.buttonComprarProducto{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.botonComprarProducto{
    all: unset;
    text-align: center;
    width: 150px;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    border: 2px solid;
    border-color: rgb(0, 98, 255);
    background-color: rgb(37, 156, 253);
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.botonComprarProducto:hover{
    background: #2148f8;
    color: white;

}

.botonComprarProducto:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------ */

.divDescipcionContenedor{
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
}

.divDescripcionCard{
    width: 50%;
    height: 900px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 15px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 25px;
}

.contenedorTituloDescripcion{
    width: 100%;
    text-align: center;
}

.pTituloDescripcion{
    font-size: 22px;
    font-weight: bold;
    color: #6ba6ea;
}

.divDescripcionProducto{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    object-fit: contain;
}

.pDescripcionProducto{
    width: 100%;
    font-size: 18px;
}

.pBeneficios{
    font-size: 17px;
    font-weight: bold;
}

.ulDescripcion{
    width: 100%;
    list-style-type: disc;
    padding-left: 20px;
    overflow-wrap: break-word;
}

.pEspecificaciones{
    font-size: 22px;
    font-weight: bold;
    color: #6ba6ea;
}

/* Grid */

.gridContainer{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    
    "section-1 section-2"
    "section-3 section-4"
    "section-5 section-6"
    "section-7 section-8"
}

.section-1 ,.section-2{
    background-color: rgb(225, 225, 225);
    grid-area: section-1;
    display: flex;
    align-items: center;
}

.section-1{
    border-top-left-radius: 10px;
}

.section-2{
    border-top-right-radius: 10px;
}
.section-2{
    background-color: rgb(225, 225, 225);
    grid-area: section-2;
}

.sectionGris, .sectionBlanca{
    margin: 20px;
    font-size: 16px;
}

.section-3, .section-4{
    background-color: white;;
    display: flex;
    align-items: center;
}
.section-5, .section-6{
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
}

.section-7{
    background-color:white;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
}
.section-8{
    background-color:white;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
}

/* -------------------------------------------------------------- */

.otrosProductos{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: bold;
}